/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Mohave:wght@300&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* a */
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

/* HEADER */
header {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
}

header a {
    letter-spacing: 4px;
    padding-bottom: 3px;
}

/* Logo */
.logo img {
    width: 100px;
    vertical-align: middle;
}

.brand {
    font-size: 100%;
    font-family: 'Cinzel Decorative', cursive;
    display: inline;
    vertical-align: middle;
}

/* Nav */
nav {
    padding: 10px 0;
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.active, 
nav a:hover {
    border-bottom: 1px solid #7c4765;
    color: #7c4765;
}