/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Mohave:wght@300&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* a */
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

/* Img */
img {
    width: 100%;
}

/* Title and text */
h2 {
    font-size: 280%;
}

/* Fitfix */
.fitfix {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button */
.btn {
    color: inherit;
    padding: 5px 20px;
    background-color: rgb(114, 1, 65);
    border-radius: 20px;
    margin: 20px 0;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
    transition: 1s;
}

/* Overlay */
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    position: absolute;
}

/* HEADER */
header {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
}

header a {
    letter-spacing: 4px;
    padding-bottom: 3px;
}

/* Logo */
.logo img {
    width: 100px;
    vertical-align: middle;
}

.brand {
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    display: inline;
    vertical-align: middle;
}

/* Nav */
nav {
    padding: 10px 0;
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.active,
nav a:hover {
    border-bottom: 1px solid #7c4765;
    color: #7c4765;
}

/* MAIN */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex-basis: 30%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Banner section */
.banner {
    width: 100%;
    height: calc(100vh - 128px);
    overflow: hidden;
    position: relative;
    color: whitesmoke;
    margin-top: 128px;
}

.banner-bg-img {
    width: 100%;
    height: calc(100vh - 128px);
    background-image: linear-gradient(rgba(210, 210, 210, 0.7), rgba(3, 8, 40, 0.7)), url(../images/banner-image.jpg);
    background-position: center;
    background-size: cover;
}

/* Zoom effect */
/* The code taken from the CI Love Running project */
.zoom {

    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* The level of zoom for banner background image */
@keyframes banner-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.banner-content {
    width: 100%;
    text-align: center;
}

.banner-content h2 {
    font-size: 7vmin;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 3vmin;
    letter-spacing: 4px;
}

/* Courses section */
/* The code taken from the Specific YouTube Tutorial */
.courses {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.courses p {
    font-size: 16px;
    line-height: 24px;
}

.courses-content {
    margin: 40px 0;
}

.courses-element img {
    width: 100%;
    display: block;
}

.courses-element .overlay:hover {
    background: rgba(3, 8, 40, 0.4);
    transition: 1s;
}

.courses-element h3 {
    width: 100%;
    color: whitesmoke;
    font-size: 24px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.courses-element .overlay:hover h3 {
    bottom: 45%;
    opacity: 1;
}

/* Testimonial section */
/* The code taken from the Specific YouTube Tutorial */
.testimonial {
    width: 80%;
    margin: auto;
    text-align: center;
}

.testimonial h2 {
    font-size: 180%;
}

.testimonial-content.row {
    align-items: stretch;
    padding: 40px 0 80px 0;
}

.col-testimonial-element {
    flex-basis: 49%;
    background: rgb(229, 229, 229);
    display: flex;
    align-items: flex-start;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
}

.col-testimonial-element img {
    width: 60px;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}

.testimonial-textarea {
    margin: 10px 20px 20px 10px;
}

.testimonial-textarea h3 {
    margin-top: 10px;
    font-size: 140%;
    font-weight: 900;
}

.testimonial-textarea p {
    text-align: justify;
    margin-top: 5px;
}

.testimonial-textarea i {
    color: lightsalmon;
}

/* Flexible section */
.flexible-bg-img {
    width: 100%;
    height: 350px;
    background-image: -webkit-linear-gradient(rgba(210, 210, 210, 0.7), rgba(3, 8, 40, 0.7)), url(../images/banner-flexibel-image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.flexible-content {
    text-align: center;
    color: whitesmoke;
}

/* FOOTER */
footer {
    background: #7a6b5d;
    color: whitesmoke;
    padding: 20px 40px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.social-media i {
    font-size: 180%;
}

.mail {
    text-align: right;
}

/* COURSES PAGE */

/* Courses page banner section */
.courses-bg-img {
    background-image: linear-gradient(rgba(210, 210, 210, 0.7), rgba(3, 8, 40, 0.7)), url(../images/courses-page-bg.jpg);
}

.courses-category {
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

.courses-category h2 {
    font-size: 5vmin;
}

/* Courses page main section */
.courses-category-element {
    width: 80%;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.courses-category-element img {
    display: block;
}

.courses-category-element .overlay:hover {
    background: rgba(3, 8, 40, 0.7);
    transition: 1s;
}

.courses-category-element h3 {
    width: 60%;
    color: whitesmoke;
    background: rgba(124, 71, 101, 0.7);
    padding: 10px;
    border-radius: 30px;
    font-size: 4vmin;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.courses-category-element .overlay:hover h3 {
    opacity: 0;
}

.courses-category-element p {
    width: 80%;
    color: whitesmoke;
    font-size: 3vmin;
    line-height: 40px;
    text-align: justify;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.courses-category-element .overlay:hover p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.courses-category-element .btn {
    display: block;
    text-align: center;
    width: 40%;
    margin: 20px auto;
}

/* SIGNUP PAGE */

/* Signup page banner */
.signup-banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(210, 210, 210, 0.7),rgba(3,8,40,0.7)), url(../images/signup.jpg);
    margin-top: 100px;
    position: relative;
}

.signup-form {
    width: 40%;
    color: whitesmoke;
    background: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    position: absolute;

}

.signup-form h2 {
    font-size: 280%;
    color: whitesmoke;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: whitesmoke;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.text-input:hover {
    border-color: rgb(114, 1, 65);
}

.radio_button {
    margin-left: 15px;
}

.join-btn {
    margin-top: 20px;
    border-radius: 40px;
    border: transparent;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(114, 1, 65);
    color: whitesmoke;
    display: block;
}

/* MEDIA QUERIES */

/* For large to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .banner-content h2 {
        font-size: 6vmin;
    }

    .courses-category-element p {
        font-size: 2vmin;
    }

    .signup-form h2 {
        font-size: 260%;
    }
}

/* For large to medium screens size from 992px wide and down */
@media screen and (max-width: 992px) {
    .courses-category {
        width: 90%;
        margin: 40px auto;
    }

    .signup-form h2 {
        font-size: 200%;
    }
}

/* For large to medium screens size from 768px wide and down */
@media screen and (max-width: 768px) {
    nav {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        width: 30%;
        padding-left: 0;
        margin-left: 0;
    }

    .banner-content h2 {
        font-size: 5vmin;
    }

    .row {
        flex-direction: column;
    }

    .col {
        margin: 15px 0;
    }

    .courses {
        width: 60%;
        margin: 40px auto;
    }

    .courses-category {
        width: 90%;
        margin: 40px auto;
    }

    footer .row {
        flex-direction: row;
    }

    .courses-category-element p {
        font-size: 16px;
        line-height: 20px;
    }

    .signup-form {
        width: 60%;
    }

    .signup-form h2 {
        font-size: 180%;
    }
}

/* For large to medium screens size from 576px wide and down */
@media screen and (max-width: 576px) {
    .logo {
        margin: 0 auto;
    }

    .logo .brand {
        font-size: 15px;
    }

    .logo img {
        width: 50px;
    }

    header a {
        letter-spacing: 1px;
    }

    nav {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    nav ul li {
        width: 30%;
        padding-left: 0;
        margin-left: 0;
    }

    .banner {
        height: calc(100vh - 100px);
        margin-top: 100px;
    }

    .banner-bg-img {
        height: calc(100vh - 100px);
    }

    .banner-content h2 {
        font-size: 24px;
    }

    h2 {
        font-size: 180%;
    }

    .courses-element h3 {
        font-size: 20px;
    }

    footer .row {
        flex-direction: column;
    }

    .courses-category h2 {
        font-size: 26px;
    }

    .courses-category-element {
        width: 90%;
    }

    .courses-category-element h3 {
        width: 80%;
        font-size: 18px;
    }

    .courses-category-element p {
        font-size: 12px;
        line-height: 16px;
    }

    .courses-category-element .btn {
        width: 50%;
        margin: 8px auto;
    }

    .signup-form {
        width: 80%;
    }

    .signup-form h2 {
        font-size: 155%;
    }
}